.footer {
  position: relative;
  color: white;
  overflow: visible;
}

.footer-content {
  height: 300px;
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 40px;
}

.footer-content .newsletter {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
}

.footer-content .faq {
  flex: 1;
  margin-left: auto;
  text-align: right;
}

.footer-svg {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  z-index: 1;
}

.newsletter-container {
  display: flex;
  justify-content: center;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faq-link {
  color: #FF9B71;
  text-decoration: none;
}

.faq-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.input-email {
  width: 100%;
  max-width: 250px;
  padding: 11px;
  padding-right: 100px;
  background-color: white;
  font-size: 16px;
  border: none;
  outline: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.send-nl-btn {
  background-color: #FF9B71;
  color: white;
  border: none;
  cursor: pointer;
  padding: 13px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

@media (max-width: 760px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-content .faq {
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
  }

  .footer-content .newsletter {
    align-items: center;
  }
}

@media (max-width: 1400px) {
  .footer-svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1400px;
    height: 400px;
    transform: translateX(-50%);
  }

  .footer-content {
    padding: 20px;
    text-align: center;
  }
}
