header {
  background-color: var(--dark-green);
  padding: 2.2%;
  width: 100vw;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  .dropdown-container {
    position: relative;

    .dropdown-menu {
      position: absolute;
      top: 50px; // Placera den under ikonen
      right: 0;
      display: flex;
      gap: 20px;
      flex-direction: column;
      border: 1px solid #ccc;
      background-color: var(--dark-green);
      border-radius: 7px;
      width: 250px; // Använd den storlek du vill ha
      padding: 15px;
      margin: 10px;
    }
  }

  .person-icon {
    cursor: pointer;
    color: var(--light);
  }

  .logo-image {
    max-width: 25%;
    min-width: 20%;
    padding-bottom: 40px;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 80px;

      li {
        font-size: 18px;
        padding: 20px;

        a {
          transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        
          &:hover {
            transform: translateY(-3px); // Höjer länken lite
          }
        
          // Animerad underline
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px; // Placera linjen precis under texten
            width: 0;
            height: 2px;
            background-color: var(--light-green);
            transition: width 0.3s ease-in-out;
          }
        
          &:hover::after {
            width: 100%; // Expanderar linjen under länken
          }
        }
      }
    }
  }
}
