media.css

.media-container {
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .media-hero {
    position: relative;
    text-align: center;
    min-height: 300px;
    margin-bottom: 40px;
  }
  
  .media-shape-wrapper {
    position: relative;
    height: 200px;
  }
  
  .media-shape1, .media-shape2 {
    width: 80%;
    height: auto;
    opacity: 0.9;
    position: absolute;
  }
  
  .media-shape1 {
    top: 50px;
    left: -10%;
    z-index: 1;
  }
  
  .media-shape2 {
    top: 50px;
    left: 25%;
    z-index: 0;
  }
  
  .media-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .media-filter {
    width: 200px;
    flex-shrink: 0;
    color: black;
  }
  
  .media-filter h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .media-filter .category,
  .media-filter .age,
  .media-filter .language,
  .media-filter .subject {
    margin-bottom: 20px;
    color: black;
  }
  
  .media-filter .list {
    display: none;
    padding-left: 10px;
  }
  
  .media-filter .open .list {
    display: block;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-grow: 1;
  }
  
  .media-item {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .media-item img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
  }
  
  .media-item h3 {
    margin-top: 10px;
    font-size: 16px;
  }
  

/* Responsive Design */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .books-content {
        flex-direction: column;
    }

    .books-filter {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .grid-container {
        grid-template-columns: 1fr; 
        width: 100%;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

