.footer {
  position: relative;
  background-color: var(--light-green);
  color: white;
  overflow: hidden;
}

.footer-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 50px 20px;
}

.footer-svg {
  position: absolute;
  min-height: 100%;
  max-height: 133%;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.link {
  color: #ca8787;
  text-decoration: none;
}

.link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-top: 200px;
  gap: 40px;
  z-index: 2;
  position: relative;
}

.newsletter {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
}

.faq {
  flex: 1;
  margin-left: auto;
  text-align: right;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  z-index: 1;
}

.input-email {
  width: 100%;
  max-width: 250px;
  padding: 11px;
  padding-right: 100px;
  background-color: white;
  font-size: 16px;
  border: none;
  outline: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.send-nl-btn {
  background-color: #ca8787;
  color: white;
  border: none;
  cursor: pointer;
  padding: 13px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.newsletter-container {
  display: flex;
  justify-content: center;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  color: #ca8787;
  text-decoration: none;
}

.link:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Responsiv design */
@media (max-width: 760px) {
  .footer-content {
    flex-direction: column; /* Stacka innehållet vertikalt på små skärmar */
    align-items: center; /* Centrerar allt innehåll */
    text-align: center;
  }

  .faq {
    margin-left: 0;
    text-align: center;
    margin-top: 20px; /* Lägg till lite mellanrum mellan sektionerna */
  }

  .newsletter {
    align-items: center; /* Håller innehållet centrerat även på små skärmar */
  }
}
