
/* fixar ny när jag får rätt bild till footern */

.footer {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position:relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  position: relative;
}


.footer-bottom {
  text-align: center;
  margin-top: 200px;
  font-size: 14px;
  z-index: 1; 
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  .newsletter form {
    flex-direction: column;
    gap: 10px;
  }
}


footer svg {
  position: absolute; 
  width: 100%;
}

.link {
  color: #ca8787;
  text-decoration: none;
}

.link:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-content {
  z-index: 2; 
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-top: 200px;
  gap: 40px;
}

.newsletter, .faq {
  flex: 1;
  text-align: center;
  z-index: 2; 
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  z-index: 2; 
}

/* kom ihåg fixa responsiv mobil anpassad