/* Grundstilar */
.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Titel stil */
.home-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 60px;
    margin-top: 100px;
  }
  /* Hero Section */
  .hero {
    position: relative;
    min-height: 250px;
    margin-bottom: 40px;
  }
 
  
  .shape-wrapper {
    position: relative;
    height: 300px;
  }
  
  .shape1 {
    position: absolute;
    top: 50px;
    left: 30%;  /* Justera positionen */
    width: 350px;  /* Större storlek */
    opacity: 0.9;
    z-index: 2;
  }
  
  .shape2 {
    position: absolute;
    top: 43px;
    left: 43%;  /* Justera så formerna överlappar */
    width: 350px;
    opacity: 0.9;
    z-index: 1;
  }
  
  .search-area {
    position: relative;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;  /* Sökfältet ska vara över formerna */
  }
  
  input[type="text"] {
    padding: 3px;
    width: 170px;
    font-size: 10px;
    border: 1px solid #ddd;
    background-color: white;  
    color: white; 
  }
  
  
  .search-btn {
    background-color: white;
    color: white;
    border: none;
    padding: 1px;
    margin-left: -20px;
    font-size: 12px;
  }
  
  /* Tips Section */
  .tips-carousel {
    margin-top: 100px;
  }
  
  .tips-carousel h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
  }
  
  .tip-boxes {
    display: flex;
    justify-content: center;
    
  }
  
  .tip-box {
    width: 200px;
    height: 200px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  /* Categories Section */
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 50px;
    
  }
  
  .category-btn {
    padding: 20px;
    background-color: #3e5745;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
  }
  /* Responsiv design för mindre skärmar */
@media (max-width: 768px) {
    .home-title {
      font-size: 35px;
    }
  
    input[type="text"] {
      width: 200px;
    }
  
    .search-btn {
      padding: 8px;
    }
  
    .tips-carousel h2 {
      font-size: 24px;
    }
  
    .tip-box {
      width: 150px;
      height: 150px;
    }
  
    .categories {
      grid-template-columns: 1fr;
    }
  }