 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
.login-svg {
    position: absolute;
    top: 0;
    left: 0;
    margin: 100px;
    opacity: 1;
    margin-left: 400px;
    width: 60%; 
    height: 50%; 
    z-index: 1; 
}
.login-svg2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 100px;
    opacity: 1;
    margin-left: 400px;
    width: 60%; 
    height: 50%; 
    z-index: 1; 
}
.login_container {
    background-color: #EFF2EA;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 20px; /* Further reduced padding to move form higher */
}

.login-title {
    font-size: 50px;
    margin-bottom: 20px;
    padding: 80px;
    position: absolute; /* Placera den absolut över SVG */
    top: 20px; /* Placera den nära toppen */
    left: 50%; /* Centrera den horisontellt */
    transform: translateX(-50%); /* Flytta tillbaka med 50% av elementets bredd för perfekt centrering */
    z-index: 3; 
}


.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 450px;
    max-width: 800px; /* Increased the max width of the form box */
    padding: 30px; /* Reduced padding inside the box */
    margin: 0 auto; /* Center the form horizontally */
}

.login-form {
    z-index: 2; /* Formuläret måste ha ett högre z-index än SVG:n */
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-label {
    margin-bottom: 5px;
    color: white; 
    font-size: 20px;
    text-align: left;
}

.form-input {
    width: 100%;
    max-width: 600px;
    height: 50px;
    padding: 10px;
    margin-bottom: 30px; /* Reduced margin for a tighter form layout */
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
}

.login_btn {
    background-color: white;
    color: #3b5a40;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
}

.login_btn:hover {
    background-color: var(--light-green);
}
