.register_container{
    background-color: #EFF2EA;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 20px; /* Further reduced padding to move form higher */
}

.register-title{
    text-align: center;
    margin: 30px auto;
}
.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.register-form-input{
    margin: 20px;
    width: 100%;
    max-width: 600px;
    height: 50px;
    padding: 10px;
    margin-bottom: 30px; /* Reduced margin for a tighter form layout */
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
}

.register_btn{
    background-color: #3F5438;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 30px;
}
.register-label{
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 135px;
    text-align: left;
    width: 100%;
}

.register_btn:hover {
    background-color: #2c3e2a;
}
