h1 {
    color: black;
    margin-top: 80px;
}

.rolemodels-container {
    text-align: center; 
}

/* filteringen */
.category-rolemodels-grid {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    padding-right: 80px;
    padding-left: 80px;
    margin-bottom: 50px;
}


.c-btn {
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    border: 1px solid black; 
    padding: 15px;
    margin: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 16px; 
    flex: 1 1 150px; 
}

.c-btn:hover {
    background-color: #ca8787;
}

/* grid-systemet för förebilderna */
/* Adjusts grid container for better alignment */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  /* Styles each grid item for consistency */
  .grid-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #f9f9f9; /* Adjust background color as needed */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Adds a hover effect */
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    max-height: auto; 
    object-fit: cover; 
    border-radius: 4px;
  }
  


.grid-item a {
    color: black; 
    text-decoration: none; 
    display: block; 
    margin-top: px;
}

.grid-item a:hover {
    text-decoration: underline; 
}
