/* Container för hela formuläret */
.tipsaoss-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}
/* .tipsaoss-svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    margin: 100px;
    margin-left: 400px;
    width: 60%; 
    height: 50%; 
    z-index: 1; 
}
.tipsaoss-svg2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    margin: 100px;
    margin-left: 350px;
    width: 60%; 
    height: 50%; 
    z-index: 1; 
} */
.tipsaoss-title {
    font-size: 50px; 
    font-weight: bold;
    color: var(--dark);
}

.tipsaoss-form {
    padding: 80px;
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
    z-index: 2; /* Formuläret måste ha ett högre z-index än SVG:n */
    position: relative; 
}


.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-bottom: 20px;
}


.form-group {
    display: flex;
    flex-direction: column;
    flex: 1; 
}


.form-group label {
    margin-bottom: 5px;
    color: white; 
    font-size: 18px;
    text-align: left; 
}


.form-group input,
.form-group textarea {
    padding: 10px; 
    font-size: 16px; 
    background-color: white;
    border: none;
    border-radius: 7px;
    outline: none;
    color: black;
    width: 100%;
}


.form-group textarea {
    height: 120px;
    resize: none;
}


.submit-button {
    background-color: white;
    color: #3b5a40;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
}

.submit-button:hover {
    background-color: var(--light-green);
}

.form-group input:focus,
.form-group textarea:focus {
    border: 2px solid #7ca982;
}


input::placeholder, textarea::placeholder {
    color: #aaa;
}
